.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 48px 0 0;
    background-color: white;
    /* background-color: grey; */
}

/* .ps-menu-button {
    background-color: grey;
}

.ps-menu-label {
    color: black;
} */
/* 
.menuitem {
    background-color: grey;
    color: black;
} */