body {
  background: rgb(201, 195, 195);
  font-family: 'futura md bt';
  color: rgb(0, 0, 0);
}

.base {
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.chart {
  width: 900px;
  margin: auto;
  background-color: white;
}