body {
  background: rgb(0, 0, 0);
  font-family: "futura md bt";
  color: rgb(255, 255, 255);
}

.base {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
